# Server
PORT=3000
HOST=0.0.0.0

# Logging — options: fatal, error, warn, info, debug, trace, silent
LOG_LEVEL=info

MISTRAL_API_KEY=tototo
# Slack — bot token avec scope users:read
SLACK_TOKEN=xoxb-tototo
